<template>
  <!-- Affiche l'article Si il n'y a pas de mots à chercher, OU si le mot a été trouvé -->
  <div v-if=" !trouve || isFound ">
    <div class="product-item">
      <!-- Utilisation du filtre se trouvant dans Mixin.js -->
      <p class="myFontSize myCenter">{{article.createdAt|formatDate}}</p>

      <div class="product-image myCenter" @click="versShowArticle">
        <!--
        :style="url" ne marche pas pour le trie !!! n'est pas trié comme les autres contenus et reste à la même place !!
        <div
          class="product-image myCenter"
          :style="url"
          @click="versShowArticle"
        >    
        -->

        <img v-bind:src="article.image" :alt="article.name" />
      </div>
      <div class="description d-flex">
        <div class="left-content" @click="versShowArticle">
          <span class="name">{{ article.name }}</span>
          <div class="rating">
            <span>
              <img src="@/assets/img/pictos/star-fill.svg" alt="Star" />
            </span>
            <span>
              <img src="@/assets/img/pictos/star-fill.svg" alt="Star" />
            </span>
            <span>
              <img src="@/assets/img/pictos/star-fill.svg" alt="Star" />
            </span>
            <span>
              <img src="@/assets/img/pictos/star-fill.svg" alt="Star" />
            </span>
            <span>
              <img src="@/assets/img/pictos/star.svg" alt="Star" />
            </span>
          </div>
        </div>
        <div class="right-content">
          <span class="price" @click="versShowArticle">{{ article.price }}</span>
          <button class="add d-flex" @click="prepAddCommande()">
            <img src="@/assets/img/pictos/add.svg" alt="Ajouter" />
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { dataMixin } from "@/mixins/Mixin";
import { mapActions } from "vuex";

export default {
  mixins: [dataMixin],
  name: "Article",
  props: ["article", "index", "trouve"],
  data() {
    return {
      url: ""
    };
  },
  methods: {
    ...mapActions(["getArticleById", "addCommande"]),
    versShowArticle() {  
      this.$router.push({ name: "showId", params: { id: this.article.id } });
      // OU:  this.$router.push("/article/" + this.article.id );
    },
    prepAddCommande() {
      let data = { id: this.article.id, nombre: 1 };
      this.addCommande(data);
    }
  },
  computed: {
    isFound: function() {
      var myRegEx = new RegExp(this.trouve, "i"); // crée une expression régulière regexp insens. case via variable string
      if (myRegEx.test(this.article.name)) {
        return true;
      } else {
        return false;
      }
    }
  },
  created() {
    this.url =
      "background: url(" +
      this.article.image +
      ")  no-repeat center ; background-size: contain;";
  }
};
</script>
<style scoped>
.myCenter {
  text-align: center;
}
.myFontSize {
  font-size: 14px;
}
</style>