<template>
  <div class="summary-item d-flex">
    <div class="quantity">
      <button @click="prepAddCommande(1)">+</button>
      <span class="number">{{laComm.quantite}}x</span>
      <button v-if="laComm.quantite >0" @click="prepAddCommande(-1)">-</button>
      <button v-else>-</button>
    </div>
    <!-- :style background ne fonctionne pas pour la suppression dans la liste des commandes - les backgrounds reste à leur place ! -->
    <!-- <div class="image" :style="url"> -->

      <div class="image myPadding" @click="versShowArticle">
        <img v-bind:src="laComm.image" :alt="laComm.article" />

        <!-- <div class="circular" v-bind:style="{ backgroundImage: 'url(' + image + ')' }"></div>
             ou 
             <div class="circular" v-bind:style="{ 'background-image': 'url(' + image + ')' }"></div>-->
      </div>

      <div class="title" @click="versShowArticle">
        {{ laComm.article }}
        <br />
        à {{ laComm.prix }}€
      </div>
      
      <div class="price" @click="versShowArticle">
        <strong>{{ laComm.prixTot }}€</strong>
      </div>

    <button class="delete myEspace" @click="suppCommande(laComm.idArticle)">Supprimer</button>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "ArticleCommande",
  props: ["laComm", "index"],
  data() {
    return {
      // url: ""
    };
  },
  methods: {
    ...mapActions(["addCommande", "suppCommande", "calculDesSommes"]),
    prepAddCommande(nomb) {
      let data = { id: this.laComm.idArticle, nombre: nomb };
      this.addCommande(data);
    },
    versShowArticle() {  
      this.$router.push({ name: "showId", params: { id: this.laComm.idArticle } });
      // OU:  this.$router.push("/article/" + this.article.id );
    },
  },
  computed: {
    ...mapState(["totalCommande"])
  },
  created() {
    // if (this.laComm) {
    //   this.url = "background: url(" + this.laComm.image + "); background-size: cover;";
    // }
  }
};
</script>
<style scoped>
.myPadding {
  padding: 0px;
}
</style>