<template>
  <div class="description">
    <router-link :to="{name:'accueil'}" class="btn btn-primary mymargin">Retour à tous les produits</router-link>
    <div class="description-content d-flex">
      <div
        class="image myCenter"
        style="background: url(@/assets/img/articles/article_001.jpg); background-size: cover;"
      >
        <img v-bind:src="detailsArticleEnCours.image" alt="Amazing image" class="myMaxHeight"/>
      </div>
      <div class="text-side">
        <h2>{{ detailsArticleEnCours.name | mySplit('-',1) }}</h2>
        <div>
          <span class="name">{{ detailsArticleEnCours.name | mySplit('-',2) }}</span>
          <div class="rating">
            <span>
              <img src="@/assets/img/pictos/star-fill.svg" alt="Star" />
            </span>
            <span>
              <img src="@/assets/img/pictos/star-fill.svg" alt="Star" />
            </span>
            <span>
              <img src="@/assets/img/pictos/star-fill.svg" alt="Star" />
            </span>
            <span>
              <img src="@/assets/img/pictos/star-fill.svg" alt="Star" />
            </span>
            <span>
              <img src="@/assets/img/pictos/star.svg" alt="Star" />
            </span>
          </div>
        </div>
        <div class="price">{{ detailsArticleEnCours.price }} €</div>
        <div>{{ detailsArticleEnCours.description }}</div>
        <div class="quantity d-flex">
          <h3>Quantité</h3>
          <div class="quantity-number d-flex">
            <button @click="nbACommander--; if(nbACommander < 1){nbACommander = 1}">-</button>
            <span class="number">{{ nbACommander }}x</span>
            <button @click="nbACommander++">+</button>
          </div>
        </div>
        <button class="cta" @click="prepAddCommande()">Ajouter au panier</button>
      </div>
    </div>
  </div>
</template>

<script>
import { dataMixin } from "@/mixins/Mixin";
import { store } from "@/store/store";
import { mapState, mapActions } from "vuex";

export default {
  mixins: [dataMixin],
  name: "ShowArticle",
  props: [],
  data() {
    return {
      id: this.$route.params.id,
      nbACommander: 1,
    };
  },
  methods: {
    ...mapActions(["addCommande","getArticleById"]),
    prepAddCommande() {
      let data = { id: this.id, nombre: this.nbACommander };
      this.addCommande(data);

      this.$router.push({ name: "accueil" });
    }
  },
  computed: {
    ...mapState(["detailsArticleEnCours"])
  },
  watch: {
    // écoute l'URL pour réagir au changement du id
    // affiche un autre article malgré que l'on reste sur le même composant qui n'est pas rechargé
    $route: function(to) {
      this.id = to.params.id;
      this.getArticleById(to.params.id);
    }
  },
  created() {},
  mounted() {},
  beforeRouteEnter(to, from, next) {
    store.commit('getArticleById', to.params.id)
    next(); // doit être utilisé
  },
  beforeRouteUpdate(to, from, next) {
    next(); // doit être utilisé
  },
  beforeRouteLeave(to, from, next) {
    next(); // doit être utilisé
  }
};
</script>
<style scoped>
.mymargin {
  margin: 10px;
}
.myMaxHeight {
  max-height: 550px;
}
</style>