<template>
    <div class="img posRelative">
		<div>
	        <div
               @click="toggleDivChoix();"
                v-mesBoutons:effet1.border.ombre="{'colorText':'#29a225','colorBackground':'#fcffe9','colorBorder':'#e6f973','width':'220px'}"
            >{{ affChoix }}</div>
		</div>
		<div class="posAbsolute">
			<div
                v-show="divChoix"
                @click="selectValue('alphaAsc','Ordre alphabétique'); toggleDivChoix();"
                v-mesBoutons:effet1.border="{'colorText':'#2aa225','colorBackground':'#fcffc9','colorBorder':'#e6f973','width':'220px'}"
            >Ordre alphabétique</div>
			<div
                v-show="divChoix"
                @click="selectValue('alphaDesc','Ordre alphabétique inv.'); toggleDivChoix();"
                v-mesBoutons:effet1.border="{'colorText':'#2aa225','colorBackground':'#fcffc9','colorBorder':'#e6f973','width':'220px'}"
            >Ordre alphabétique inv.</div>
			<div
                v-show="divChoix"
                @click="selectValue('prixAsc','Prix Ascendant'); toggleDivChoix();"
                v-mesBoutons:effet1.border="{'colorText':'#2aa225','colorBackground':'#fcffc9','colorBorder':'#e6f973','width':'220px'}"
            >Prix Ascendant</div>
			<div
                v-show="divChoix"
                @click="selectValue('prixDesc','Prix Descendant'); toggleDivChoix();"
                v-mesBoutons:effet1.border="{'colorText':'#2aa225','colorBackground':'#fcffc9','colorBorder':'#e6f973','width':'220px'}"
            >Prix Descendant</div><br /><br />
		</div>
    </div>
</template>
<script>
    export default {
        name: "MyInputSelect",
        props:{
			value:String
		},
        // Ma directive LOCALE ( Ma directive Globale: voir main.js )
		// exemple d'utilisation:
		// <div v-mesBoutons:effet2.border.ombre="{'colorText':'#2aa225','colorBackground':'#fcffc9','colorBorder':'#e6f973','width':'100px'}">directive</div>
        directives:{
            mesBoutons:{
                bind(el,binding){
                    el.style.padding = "1px 10px 1px 10px";
                    el.style.margin = "8px";
                    el.style.textAlign = "center";
                    switch (binding.arg) {
                    case "effet1":
                        el.style.borderRadius = "12px 0 12px 0";
                        break;
                    case "effet2":
                        el.style.borderRadius = "75%";
                        break;
                    case "effet3":
                        el.style.borderRadius = "65% 65% 0 0";
                        break;
                    default:
                        el.style.borderRadius = "0";
                    }

                    if ( binding.modifiers.border ){
                        if ( binding.value.colorBorder ){
                            el.style.border = "1px solid " + binding.value.colorBorder ;
                            }
                    }

                    if ( binding.modifiers.ombre ){
                        el.style.boxShadow = "1px 1px 3px 0px rgba(156,151,156,0.62)";
                    }

                    if ( binding.value.colorText ){ el.style.color = binding.value.colorText ; }

                    if ( binding.value.colorBackground ){ el.style.background = binding.value.colorBackground ; }

                    if ( binding.value.width ){ el.style.width = binding.value.width ; }
                }
            }
		},
		data(){
            return{
				divChoix:false,
				affChoix:'Trier par'
            }
		},
		methods:{
            selectValue(el, affEl){
				this.$emit("input",el);
				this.affChoix = affEl
			},
            toggleDivChoix(){
                this.divChoix = ! this.divChoix;
            }
        }
    }
</script>
<style scoped>
.posRelative {
  position: relative;
}
.posAbsolute {
  position: absolute;
  top: 29px;
  left: 0px;
}
</style>