<template>
    <div>
        <div v-if="articles">
            <div>
                <div class="search-bar myInlineBlock myMargin">
                    <input type="text" placeholder="rechercher un produit" v-model="trouve">
                </div>
                <div class="myInlineBlock">
                    <MyInputSelect v-model="specialInput"></MyInputSelect>
                </div>
            </div>
            <br />
            <div class="product-list d-flex justify-content-between">

<!--                 Trie - |orderBy 'id' ne fonctionne plus en vue.js2 ! -->
<!--                 <Article v-for=" (Article, i) in articles|orderBy 'id' " :index="i" :key="i" :article="Article"></Article> -->

                <Article v-for=" (Article, i) in articlesSorted " :index="i" :key="i" :article="Article" :trouve="trouve"></Article>

            </div>
        </div>
        <div v-else>
            <h2>Chargement des articles !</h2>
            <img src="../../assets/DYru.gif">
        </div>
    </div>
</template>
<script>
    import {mapState} from "vuex"
    import MyInputSelect from "@/components/inputs/MyInputSelect"
    import Article from "@/components/articles/Article"

    export default {
        name: 'Accueil',	// nom parent
        components:{
            MyInputSelect,
            Article,
        },
        data() {
            return {
                specialInput:'alphaAsc',
                trouve:"",
            }
        },
        methods:{
        },
        computed: {
            ...mapState(["articles"]),
            articlesSorted: function () {
                if (this.articles && this.specialInput == "alphaAsc") {

                    return this.articles.slice().sort(                                          // slice copie le tableau d'origine sans le modifier
                        function(a, b) {
                            if (a.name.toLowerCase() < b.name.toLowerCase()) return -1;
                            if (a.name.toLowerCase() > b.name.toLowerCase()) return 1;
                            return 0;
                        }
                    );

                } else if (this.specialInput == "alphaDesc") {

                    return this.articles.slice().sort(
                        function(a, b) {
                            if (a.name.toLowerCase() < b.name.toLowerCase()) return 1;
                            if (a.name.toLowerCase() > b.name.toLowerCase()) return -1;
                            return 0;
                        }
                    );

                } else if (this.specialInput == "prixAsc") {

                    return this.articles.slice().sort(function (a, b) { return a.price - b.price } ); // slice copie le tableau d'origine sans le modifier
                    
                } else if (this.specialInput == "prixDesc") {

                    return this.articles.slice().sort(function (a, b) { return b.price - a.price } );

                } else {
                    return []
                }
            }
        },
    }
</script>
<style scoped>
.myMargin{
    margin: 0 40px 0 10px;
}
</style>