<template>
  <div class="summary myCenter">
    <!-- Si le panier n'est pas vide -->
    <div v-if="laCommande.length >0">
      <br />
      <br />
      <br />
      <h1>Récapitulatif de la commande</h1>
      <div class="myCenter summary-box myInlineBlock myWidth">
        <ArticleCommande v-for="(laComm, i) in laCommande" :index="i" :key="i" :laComm="laComm"></ArticleCommande>

        <div class="total-summary d-flex">
          <h3>Total</h3>
          <strong class="total-price">{{ totalCommande }}€</strong>
        </div>
      </div>
      <p v-if="!soldeSuff" class="alert alert-warning">
        <strong>Vous n'avez pas assez de crédit :(</strong>
        <br />Cliquez sur [My account] puis [Ajouter du crédit]
      </p>

      <div v-if="soldeSuff && totalCommande > 0" class="myCenter myEspace">
        <button class="cta pay myInlineBlock" @click="payer">Payer</button>
      </div>
    </div>
    <!-- Si le panier est vide -->
    <div v-else>
      <br />
      <br />
      <br />
      <br />
      <div v-if="!siPaye">
        <h1>Le panier est vide</h1>
      </div>
    </div>
    <div v-if="siPaye" class="thank-you">
      <h2>Merci de votre commande !</h2>
      <p>
        Votre référence :
        <strong>#363434347AEBF</strong>
      </p>
      <p>
        Date de livraison estimée :
        <strong>2 janvier 2020</strong>
      </p>
      <p>
        Votre SOLDE :
        <strong>{{ solde }}€</strong>
      </p>
      <router-link :to="{name:'accueil'}" class="logo espace">
       <button class="cta">Retour à l'accueil</button>
      </router-link>
    </div>
  </div>
</template>

<script>
import { store } from "@/store/store";
import { mapState, mapActions } from "vuex";
import ArticleCommande from "@/components/articles/ArticleCommande";

export default {
  data() {
    return {};
  },
  components: {
    ArticleCommande
  },
  methods: {
    ...mapActions(["calculDesSommes", "payer"])
  },
  computed: {
    ...mapState([
      "isConnected",
      "laCommande",
      "solde",
      "soldeSuff",
      "siPaye",
      "totalCommande"
    ])
  },
  beforeRouteEnter(to, from, next) {
    // Si page en cours est 'compte' ne pas afficher 'Payer' dans 'infosPanier'
    localStorage.inPgCompte = "true";

    // Utilisateur connecté ?
    if (store.state.isConnected == "true" || store.state.isConnected == true) {
      next();
    } else {
      next({ path: "/" });
    }

    // autre solution pour info:
    // if ( localStorage.isLogged =='true' || localStorage.isLogged == true ) {...}
    // REM  localStorage stocke une 'string' 'true'
  },
  beforeRouteLeave(to, from, next) {
    // Si page en cours est 'compte' ne pas afficher 'Payer' dans 'infosPanier'
    localStorage.inPgCompte = "false";
    next(); // doit être utilisé
  },
  created() {}
};
</script>