<template>
  <div>
    <h1>DEMO beforeRouteEnter beforeRouteUpdate beforeRouteLeave</h1>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  created() {},
  beforeRouteEnter(to, from, next) {
    console.log("coucou beforeRouteEnter");
    next(); // doit être utilisé
    // appelée avant que la route vers le composant soit confirmée.
    // cette fonction n'a pas accès à l'instance du composant avec `this`,
    // car le composant n'a pas encore été créé quand cette interception est appelée !
  },
  beforeRouteUpdate(to, from, next) {
    console.log("coucou beforeRouteUpdate");
    next(); // doit être utilisé
    // appelée quand la route qui fait le rendu de ce composant change,
    // mais que ce composant est utilisé de nouveau dans la nouvelle route.
    // Par exemple, pour une route avec le paramètre dynamique `/foo/:id`, quand nous
    // naviguons entre `/foo/1` et `/foo/2`, la même instance du composant `Foo`
    // va être réutilisée, et ce hook va être appelé quand cela arrivera.
    // ce hook a accès à l'instance de ce composant via `this`.
  },
  beforeRouteLeave(to, from, next) {
    console.log("coucou beforeRouteLeave");
    next(); // doit être utilisé
    // appelée quand la route qui fait le rendu de ce composant est sur le point
    // d'être laissée en faveur de la prochaine route.
    // elle a accès à l'instance de ce composant via `this`.
  }
};
</script>