<template>
  <div>
    <header class="d-flex justify-content-between header">
      <router-link :to="{name:'accueil'}" class="logo espace">
        <img src="@/assets/img/pictos/logo.jpg" alt="Logo" />
      </router-link>

      <div class="right-menu d-flex">
        <router-link
          v-if="isConnected"
          :to="{path:'/compte'}"
          class="btn btn-primary espace"
        >Récapitulatif de la commande</router-link>

        <router-link :to="{path:'/login'}" v-if="!isConnected" class="btn btn-primary espace">Login</router-link>

        <div v-if="isConnected" class="account">
          <span class="btn btn-primary espace" @click="clickAffCredit()">My account</span>
          <!-- Composant InfosCredit - Apparition Disparition infoBulle CREDIT -->
          <InfosCredit
            v-if="affInfosCredit"
            :deconnexion="deconnexion"
            :solde="solde"
            :soldeSuff="soldeSuff"
            :utilisateur="utilisateur"
          ></InfosCredit>
          <!-- Attribut Dynamique pour faire passer la fonction 'deconnexion' dans le composant -->
        </div>

        <div class="basket espace">
          <div class="img posRelative" @click="clickAffPanier()">
            <img src="@/assets/img/pictos/basket.svg" alt="Basket" />
            <div class="posAbsolute">{{ this.$store.getters.getNbrCommande }}</div>
          </div>
          <div class="basket">
            <!-- Composant InfosPanier - Apparition Disparition infoBulle PANIER -->
            <InfosPanier
              v-if="affInfosPanier"
              :laCommande="laCommande"
              :isConnected="isConnected"
              :soldeSuff="soldeSuff"
              :totalCommande="totalCommande"
              :payer="payer"
            ></InfosPanier>
            <!-- Attribut Dynamique pour faire passer la propriété 'laCommande' dans le composant -->
          </div>
        </div>
      </div>
    </header>
    <div class="positionMessage myCenter">
      <div 
        v-if="ifMessage"
        class="alert alert-success"
        role="alert"
      >{{ leMessage }}
      </div>
    </div>
  </div>
</template>
<script>
import InfosPanier from "@/components/panier/InfosPanier";
import InfosCredit from "@/components/panier/InfosCredit";
import { mapState, mapActions } from "vuex";

export default {
  name: "Header",
  props: ["isConnected"],
  components: {
    InfosPanier,
    InfosCredit
  },
  methods: {
    ...mapActions(["deconnexion", "clickAffPanier", "clickAffCredit","payer"])
  },
  computed: {
    ...mapState([
      "affInfosPanier",
      "affInfosCredit",
      "laCommande",
      "solde",
      "soldeSuff",
      "utilisateur",
      "totalCommande",
      "ifMessage",
      "leMessage",
    ])
  }
};
</script>
<style scoped>
.espace {
  margin-right: 15px;
  margin-left: 15px;
}
.posAbsolute {
  position: absolute;
  bottom: 24px;
  right: 7px;
  font-size: 18px;
  font-weight: bold;
  color: #ee0000;
}
.positionMessage{
  font-size: 22px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0px;
  left: 0px;
}
</style>