<template>
  <div class="myCenter">
    <div class="login myCenter">
      <h1>Se connecter</h1>
      <h3 v-componentUpdate>{{ user }}</h3>
      <div class="login-box myCenter myInlineBlock" v-on:keyup.enter="login">
        <input type="text" v-model="user" placeholder="username" />
        <input type="password" v-model="password" placeholder="password" />
        <button @click="login" class="cta">Se connecter (admin)</button>
      </div>
    </div>
    <br />
    <br />
  </div>
</template>

<script>
import { mapActions } from "vuex";

const user = "admin";
const password = "admin";
export default {
  data() {
    return {
      user: "",
      password: ""
    };
  },
  methods: {
    ...mapActions(["connexion"]),
    login() {
      if (user === this.user && password === this.password) {
        this.connexion(user);
        this.$router.push({ name: "compte" });
      } else {
        alert("réessayer svp");
      }
    }
  },
  computed: {}
};
</script>