<template>
    <div id="app">
        <LeHeader :isConnected="isConnected"></LeHeader>
        <router-view/>
    </div>
</template>

<script>
    require('@/assets/css/bootstrap.min.css')
    require('@/assets/css/app.css')

    import LeHeader from "./components/pages/Header"
    import {mapState, mapActions} from "vuex"

    export default {
        name: 'App',
        components:{
            LeHeader,
        },
        methods:{
            ...mapActions(["chargementDesArticles","deconnexion"])
        },
        computed: {
            ...mapState(["isConnected"])
        },
        created() {
        },
        mounted(){
            console.log('App Mounted - chargement data !');
            // Chargement des articles au démarrage de l'application
            this.chargementDesArticles();

            // Déconnecté
            this.deconnexion();
        }

    }
</script>

<style>
.myCenter {
    text-align: center;
}
.myInlineBlock{
    display: inline-block;
}
.myEspace {
  margin: 15px;
}
.myWidth {
  width: 60%;
  max-width: 60%;
  min-width: 600px;
}
.posRelative {
  position: relative;
}
</style>
