<template>
  <div class="account-menu">
    <span class="name">{{ utilisateur }}</span>
    <span v-if="soldeSuff" class="badge badge-success fontSize">Crédits : {{solde}}€</span>
    <span v-else class="badge badge-warning fontSize">Crédits : {{solde}}€</span>
    <div class="add-credit" @click="ajCredit()">
      <strong class="mybouton">Ajouter 200€ de crédit +</strong>
    </div>
    <button class="logout" @click.prevent="logOut()">Se déconnecter</button>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  name: "InfosCredit",
  props: ["deconnexion", "solde", "soldeSuff", "utilisateur"],
  methods: {
    ...mapActions(["ajCredit"]),
    logOut() {
      this.deconnexion();
      this.$router.push({ name: "accueil" });
    }
  }
};
</script>
<style scoped>
.mybouton {
  display: inline-block;
  background-color: rgb(255, 253, 250);
  border: 1px solid #fbeeee;
  color: rgb(255, 208, 208);
  padding: 2px 13px;
  margin: 8px;
}
.mybouton:hover {
  background-color: hsl(32, 100%, 77%);
  color: #412119;
  border: 1px solid rgb(146, 56, 56);
}
.fontSize{
  font-size: 14px;
}
</style>