<template>
  <div v-if="laCommande.length > 0" class="account-menu">
    <span class="name">Panier</span>
    <div class="items-list">

      <div v-for="(laCom, i) in laCommande" :key="i" :index="i" :laCom="laCom" class="d-flex">
        <router-link :to="{
            name: 'showId',
            params: {
                id: laCom.idArticle,
            },          
        }">
          <span class="quantity">{{laCom.quantite}}X</span>
          <span>{{laCom.article}}</span>
        </router-link>
      </div>

        <!-- OU en ES6: -->
        <!-- <router-link :to="`/article/${laCom.idArticle}`"> -->
          <!-- <span class="quantity">{{laCom.quantite}}X</span>
          <span>{{laCom.article}}</span> -->
        <!-- </router-link> -->

    </div>

    <router-link :to="{name:'compte'}" v-if="soldeSuff && isConnected && totalCommande > 0 && !inPgCompte" class="logout" tag="button">Payer</router-link>
    <button v-else-if="!soldeSuff && isConnected" class="btn btn-warning">Solde insuffisant</button>
    <div v-else class="myCenter">
      <router-link
        :to="{path:'/login'}"
        v-if="!isConnected"
        class="btn btn-primary espace"
      >Login pour payer</router-link>
    </div>
  </div>
</template>
<script>
export default {
  name: "InfosPanier",
  props: ["laCommande", "isConnected", "soldeSuff", "totalCommande","payer"],
  data() {
    return {
      inPgCompte : false,
    };
  },
  created(){
    // Si page en cours est 'compte' ne pas afficher 'Payer' dans 'infosPanier'
    if ( localStorage.inPgCompte =='true' || localStorage.inPgCompte == true ) {
        this.inPgCompte = true;
      }else{
        this.inPgCompte = false;
      }
  },

};
</script>
<style scoped>
</style>